@font-face {
    font-family: font1;
    src: url('../font/Fastup-Bold.ttf')
}

@font-face {
    font-family: font2;
    src: url('../font/Nexa-Trial-Bold.ttf')
}

@font-face {
    font-family: font3;
    src: url('../font/Times\ New\ Romance.ttf')
}

@font-face {
    font-family: font4;
    src: url('../font/HWYGOTH.TTF')
}

@font-face {
    font-family: font2;
    src: url('../font/Comfortaa-Bold.ttf')
}